!!!
%html{html_attrs('ar'), dir: Rtlize.dir}

  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Adhamsabri'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Adhamsabri'}"}
    = stylesheet_link_tag 'application.rtl', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
